<div class="row" id="welcome-buttons">
	<div class="welcome-buttons col-sm-12">
		<%= link_to new_user_registration_path do %>
			<div class="sign-up-buttons col-sm-offset-2 col-sm-3">
				<p>Register</p>
			</div>
		<% end %>
		<%= link_to new_user_session_path do %>
			<div class="sign-up-buttons col-sm-offset-1 col-sm-3">
				<p>Login</p>
			</div>
		<% end %>
	</div>
</div>